@font-face {
  font-family: "vulf mono bold italic";
  src: url("../../fonts/mono/Vulf_Mono-Bold_Italic_web.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "vulf mono black italic";
  src: url("../../fonts/mono/Vulf_Mono-Black_Italic_web.ttf") format("truetype");
}

@font-face {
  font-family: "vulf mono italic";
  src: url("../../fonts/mono/Vulf_Mono-Italic_web.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "vulf mono bold";
  src: url("../../fonts/mono/Vulf_Mono-Bold_web.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "vulf sans regular";
  src: url("../../fonts/sans/Vulf_Sans-Regular.ttf") format("truetype");
  font-display: swap;
}

* {
  margin: 0px;
}

main {
  background-image: url("../../backgrounds/seamless_blue.png");
  margin-inline: auto;
}

.navbar-about {
  color: #b5bfbf;
}

.content.open {
  background: #b5bfbf;
}

h2 {
  font-size: 3rem;
  margin-top: 2.75rem;
  margin-bottom: 1rem;
  font-family: "vulf mono bold italic";
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

p {
  font-size: 1.5rem;
  line-height: 1.875rem;
}

img {
  display: block;
  /* max-width: 100%; */
}

.container {
  margin-inline: auto;
  width: min(100%, 150rem);
}

.mission-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(
    180deg,
    #ffffff 0%,
    #ffffffcc 17.71%,
    #ffffffcc 80.73%,
    rgba(255, 255, 255, 0) 100%
  );
  /* linear-gradient(
      90deg,
      rgba(255, 255, 255, 0) 0 10%,
      #ffffffcc 15% 85%,
      rgba(255, 255, 255, 0) 90% 100%
    ); */

  /* background: linear-gradient(
    180deg,
    #ffffff 0 17.71%,
    #ffffffcc 17.71% 80.73%,
    rgba(255, 255, 255, 0) 100%
  ); */
  background-blend-mode: soft-light;
  min-height: max-content;
  padding-top: 5.375rem;
  padding-bottom: 2.875rem;
}

.mission-container-text {
  /* width: min(75%, 40rem); */
  padding-left: 13%;
  /* margin-right: 10rem; */
}

.mission-container > img {
  position: relative;
  max-width: 42%;
  right: 6rem;
  margin-left: 10.3rem;
  border: 0.75rem solid #d4dede;
}

.mission-container-text > h2 {
  padding-bottom: 1.75rem;
}

.mission-container-text > p {
  font-family: "vulf sans regular";
}

.vision-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
  min-height: max-content;
  padding-bottom: 44px;
}

@media (min-width: 50em) {
  .vision-container {
    flex-direction: row;
  }
  .vision-container > * {
    flex-basis: 100%;
  }
  .vision-container > * + * {
    margin-left: 10em;
  }
  .mission-container {
    flex-direction: row;
  }
  .mission-container > * {
    flex-basis: 100%;
  }
  .mission-container > * + * {
    margin-left: 10em;
  }
}

.vision-img {
  position: relative;
  max-width: 39%;
  left: 5rem;
  margin-top: 5.3rem;
  border: 0.75rem solid #b5bfbf;
  /* margin-right: 17rem; */
}

.vision-container-text {
  text-align: right;
  padding: 0 6rem 0 2rem;
}

.vision-container-text > h2 {
  text-align: right;
}

.vision-container-text > h3 {
  margin-bottom: 12px;
  font-family: "vulf mono bold italic";
}

.vision-container-text > p {
  font-family: "vulf sans regular";
}

.question {
  cursor: pointer;
  text-align: left;
}

.question-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "vulf mono bold italic";
}

.question-text > h3 {
  margin-bottom: 0.5rem;
}

.answer {
  background: #b5bfbf;
  max-height: 0;
  overflow: hidden;
  transition: all 0.25s cubic-bezier(0, 1, 0, 1);
}

.answer > p {
  padding: 1rem;
  font-family: "vulf sans regular";
}

.answer.open {
  background: #b5bfbf;
  height: auto;
  max-height: 9999px;
  transition: all 0.25s cubic-bezier(1, 0, 1, 0);
  margin-bottom: 0.5rem;
}

.dropdown-button {
  width: 1rem;
  border: none;
}

.board-title {
  padding-left: 17vw;
  /* padding-bottom: 66px; */
  transform: translateY(18.75rem);
}

.board-container {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    #ffffffcc 6.77%,
    #ffffffcc 93.23%,
    rgba(255, 255, 255, 0) 100%
  );
  background-blend-mode: soft-light;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  min-height: max-content;
  padding: 22.5rem 11.875rem 0;
  /* width: 22rem; */
}

.board-container > h2 {
  margin-bottom: 3.25rem;
}

.board-bio {
  width: max-content;
  display: flex;
  align-items: center;
  /* align-items: flex-start; */
  /* margin-left: 200px; */
}

.board-bio-image-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  /* width: max-content; */
  /* padding-right: 6vw; */
  margin-bottom: 2.8125rem;
}

.board-bio-image-container > img {
  width: 20vw;
  margin-bottom: 2.0625rem;
  border: 1rem solid #d4dede;
}

.board-bio-image-container > h3 {
  font-family: "vulf mono bold";
  font-size: 2.25rem;
  margin-bottom: 1.25rem;
}

.board-bio-image-container > h4 {
  font-family: "vulf sans regular";
}

.board-bio-image-container > h3,
h4 {
  text-align: center;
}

.haiku-container {
  width: 28vw;
}

.haiku {
  position: absolute;
  transform: translateY(-9.375rem);
  right: 12.5rem;
  font-family: "vulf mono italic";
  text-align: justify;
  /* line-break: normal; */
  /* margin-bottom: 122px; */
}

.jesse-haiku {
  position: absolute;
  transform: translateY(-9.375rem);
  right: 20.625rem;
  font-family: "vulf mono italic";
  text-align: justify;
}

.haiku-more {
  color: #d4dede;
  font-family: "vulf sans regular";
  text-align: center;
  display: none;
}

footer {
  background: linear-gradient(0deg, #d4dede 55.8%, rgba(255, 255, 255, 0) 100%);
}
