@font-face {
  font-family: "vulf mono bold italic";
  src: url("../../fonts/mono/Vulf_Mono-Bold_Italic_web.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "vulf mono black italic";
  src: url("../../fonts/mono/Vulf_Mono-Black_Italic_web.ttf") format("truetype");
}

@font-face {
  font-family: "vulf mono italic";
  src: url("../../fonts/mono/Vulf_Mono-Italic_web.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "vulf mono bold";
  src: url("../../fonts/mono/Vulf_Mono-Bold_web.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "vulf sans regular";
  src: url("../../fonts/sans/Vulf_Sans-Regular.ttf") format("truetype");
  font-display: swap;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

* {
  margin: 0px;
}

main {
  background-image: url("../../backgrounds/seamless_blue.png");
  margin-inline: auto;
}

.label :hover {
  text-decoration: underline #b5bfbf;
}

.navbar > a :hover {
  text-decoration: underline #b5bfbf;
}

.navbar-about,
.hamburger-dropdown > .dropdown > .label > button {
  color: #b5bfbf;
}

.content.open {
  background: #b5bfbf;
}

h2 {
  font-size: 2rem;
  margin-top: 2.75rem;
  margin-bottom: 1rem;
  font-family: "vulf mono bold italic";
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

p {
  font-size: 1.5rem;
  line-height: 1.875rem;
}

img {
  display: block;
}

.container {
  margin-inline: auto;
  /* width: min(100%, 150rem); */
}

.mission-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(
    180deg,
    #ffffff 0%,
    #ffffffcc 17.71%,
    #ffffffcc 95%,
    rgba(255, 255, 255, 0) 100%
  );
  background-blend-mode: soft-light;
  min-height: max-content;
  padding-top: 5.375rem;
  padding-bottom: 4rem;
}

.mission-container-text {
  padding: 0 6.67% 0;
  max-width: 100%;
}

.mission-container > img {
  position: relative;
  max-width: 90%;
  border: 0.75rem solid #d4dede;
}

.mission-container-text > h2 {
  padding-bottom: 1.75rem;
}

.mission-container-text > p {
  font-family: "vulf sans regular";
  padding-bottom: 1em;
}

.border {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  height: 1.5rem;
  width: 100vw;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0) 0%,
    #61959d 25%,
    #61959d 75%,
    rgba(0, 0, 0, 0) 100%
  );
  opacity: 90%;
}

.border::before {
  content: "feverdreamfeverdreamfeverdreamfeverdream";
  font-family: "vulf mono bold italic";
  color: #ffffff;
  opacity: 50%;
  font-size: 1rem;
}

.border-header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.vision-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  min-height: max-content;
  padding-bottom: 1rem;
}

.vision-container-text > .vision-container-text--split > img {
  /* position: relative; */
  max-width: 90%;
  margin-bottom: 1em;
  border: 0.75rem solid #b5bfbf;
  /* margin-right: 17rem; */
}

.vision-container-text {
  text-align: right;
  margin-bottom: 2rem;
}

.vision-container-text--split {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.curtain {
  cursor: pointer;
  padding-bottom: 1.25rem;
  transition: all 0.25s cubic-bezier(1, 0, 1, 0);
  /* position: absolute; */
}

.curtain-text {
  font-family: "vulf mono bold italic";
  display: flex;
  align-items: center;
  /* position: absolute; */
}

.curtain-content {
  /* height: 0; */
  /* max-height: 0; */
  /* position: relative; */
  display: none;
  overflow: hidden;
  animation: fadeOut ease-out 2s;
  /* animation-duration: 0.5s;
  animation-fill-mode: backwards; */
  /* transition: all 0.25s cubic-bezier(0, 1, 0, 1); */
  /* transition: display 0.2s ease-out; */
}

.curtain-content > p {
  padding: 1rem;
}

.curtain-content.open {
  display: block;
  background: #61959d;
  color: #ffffff;
  font-family: "vulf sans regular";
  text-align: left;
  max-height: 9999px;
  animation: fadeIn ease-out 2s;
  animation-duration: 0.5s;
  animation-fill-mode: backwards;
  transition: transform 0.2s ease-out;
}

.curtain-content.open > ul {
  padding: 1em 1.5em;
}

.vision-header {
  text-align: right;
  padding-right: 6.7%;
  /* background: linear-gradient(
    to right,
    #61959d 0%,
    rgba(0, 0, 0, 0) 82%,
    rgba(0, 0, 0, 0) 94%,
    #61959d 100%
  ); */
}

.vision-container-text > h3 {
  margin-bottom: 12px;
  font-family: "vulf mono bold italic";
}

.vision-container-text--split > nav > p {
  font-family: "vulf sans regular";
  padding: 0 6.7%;
}

.vision-container-text--split > nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding-right: 6.7%; */
}

.collapsibles-container {
  position: relative;
  padding: 1em 6.7% 0 6.7%;
}

.question {
  cursor: pointer;
  text-align: left;
}

.question-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "vulf mono bold italic";
}

.question-text > h3 {
  margin-bottom: 0.5rem;
}

.answer {
  background: #61959d;
  max-height: 0;
  overflow: hidden;
  color: #ffffff;
  /* transition: all 0.25s cubic-bezier(0, 1, 0, 1); */
}

.answer > p {
  padding: 1rem;
  font-family: "vulf sans regular";
}

.answer.open {
  background: #61959d;
  color: #ffffff;
  height: auto;
  max-height: 9999px;
  /* transition: all 0.25s cubic-bezier(1, 0, 1, 0); */
  animation: fadeIn ease-out 2s;
  animation-duration: 0.5s;
  animation-fill-mode: backwards;
  margin-bottom: 0.5rem;
}

.dropdown-button {
  width: 1rem;
  border: none;
}

.board-header {
  margin-top: 1rem;
  margin-bottom: 6.67%;
  padding-left: 6.67%;
  width: 100%;
  /* background: linear-gradient(
    to right,
    #61959d 0%,
    rgba(0, 0, 0, 0) 14%,
    rgba(0, 0, 0, 0) 30%,
    #61959d 100%
  ); */
}

.board-container {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    #ffffffcc 2%,
    #ffffffcc 93.23%,
    rgba(255, 255, 255, 0) 100%
  );
  background-blend-mode: soft-light;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: max-content;
  padding: 2rem 0 20rem;
}

.board-container > h2 {
  margin-bottom: 3.25rem;
}

.board-bio {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.board-bio-image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.board-bio-image-container > img {
  max-width: 86.66%;
  max-height: 50%;
  margin-bottom: 2.0625rem;
  border: 0.75rem solid #d4dede;
}

.board-bio-image-container > h3 {
  font-family: "vulf mono bold";
  padding: 0 1em 0;
  font-size: 2.25rem;
  margin-bottom: 1.25rem;
}

.board-bio-image-container > h4 {
  font-family: "vulf sans regular";
}

.board-bio-image-container > h3,
h4 {
  text-align: center;
}

.haiku-container {
  max-width: 100%;
}

.haiku {
  font-family: "vulf mono italic";
  text-align: center;
  font-size: 0.99rem;
  margin: 15% 0;
  /* padding: 0 1em 0; */
}

.haiku-more {
  color: #d4dede;
  font-family: "vulf sans regular";
  text-align: center;
  display: none;
}

footer {
  background: linear-gradient(0deg, #d4dede 55.8%, rgba(255, 255, 255, 0) 100%);
}

@media (min-width: 50em) {
  .border {
    display: flex;
    /* position: absolute; */
  }
  h2 {
    font-size: 3rem;
  }
  .vision-container {
    flex-direction: row;
  }
  .vision-container > * {
    flex-basis: 100%;
  }
  .vision-container > * + * {
    margin-left: 10em;
  }
  .vision-container-text > .vision-container-text--split {
    flex-direction: row;
    align-items: flex-start;
  }
  .vision-container-text > .vision-container-text--split > * {
    flex-basis: 48%;
  }
  .vision-container-text--split > nav {
    padding-right: 6.7%;
  }
  .vision-container-text--split > nav > p {
    padding: 0;
  }
  .vision-container-text > .vision-container-text--split > img {
    position: relative;
    /* margin-top: 7rem; */
    left: 5.5%;
    max-width: 33%;
  }
  .mission-container {
    flex-direction: row;
  }
  .mission-container > * {
    flex-basis: 100%;
  }
  .mission-container > img {
    right: 6.67%;
    max-width: 33%;
  }
  .mission-container-text {
    padding: 0 11.4% 0 12%;
  }
  .collapsibles-container {
    position: relative;
    padding-top: 2rem;
    left: 6%;
  }
  /* .board-container {
    padding-left: 15%;
  } */
  .board-header {
    padding-left: 17vw;
  }
  .board-bio {
    margin-bottom: 0;
    padding-left: 15vw;
    top: 8rem;
  }
  .board-container > .board-bio {
    flex-direction: row;
  }
  .board-container > .board-bio > .board-bio-image-container > img {
    max-width: 100%;
    right: 6.67%;
    /* width: 42%; */
  }
  .board-bio-image-container {
    /* margin-top: 5.3rem; */
    max-width: 27vw;
  }
  .haiku-container {
    /* margin: 5.3rem 0 0 2rem; */
    margin: 0 0 0 2rem;
    width: 45vw;
  }
  .haiku {
    margin-bottom: 0;
  }
  .border::before {
    content: "feverdreamfeverdreamfeverdreamfeverdreamfeverdreamfeverdreamfeverdreamfeverdreamfeverdreamfeverdreamfeverdreamfeverdreamfeverdreamfeverdreamfeverdream";
    font-family: "vulf mono bold italic";
    color: #ffffff;
    opacity: 50%;
    font-size: 1rem;
  }
}
/* @media (min-width: 86em) {
  .haiku-container {
    padding-top: 18%;
  }
} */

@media (min-width: 63em) {
  .haiku {
    font-size: 1.25rem;
    /* padding-bottom: 5em; */
  }
}
