@font-face {
  font-family: "vulf mono bold italic";
  src: url("../../fonts/mono/Vulf_Mono-Bold_Italic_web.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "vulf mono black italic";
  src: url("../../fonts/mono/Vulf_Mono-Black_Italic_web.ttf") format("truetype");
}

@font-face {
  font-family: "vulf mono italic";
  src: url("../../fonts/mono/Vulf_Mono-Italic_web.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "vulf mono bold";
  src: url("../../fonts/mono/Vulf_Mono-Bold_web.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "vulf sans regular";
  src: url("../../fonts/sans/Vulf_Sans-Regular.ttf") format("truetype");
  font-display: swap;
}

* {
  margin: 0px;
}

main {
  background-image: url("../../backgrounds/seamless_blue.png");
  margin-inline: auto;
}

.navbar-about,
.hamburger-dropdown > .dropdown > .label > button {
  color: #b5bfbf;
}

.content.open {
  background: #b5bfbf;
}

h2 {
  font-size: 2rem;
  margin-top: 2.75rem;
  margin-bottom: 1rem;
  font-family: "vulf mono bold italic";
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

p {
  font-size: 1.5rem;
  line-height: 1.875rem;
}

img {
  display: block;
  /* max-width: 100%; */
}

.container {
  margin-inline: auto;
  width: min(100%, 150rem);
}

.mission-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(
    180deg,
    #ffffff 0%,
    #ffffffcc 17.71%,
    #ffffffcc 80.73%,
    rgba(255, 255, 255, 0) 100%
  );
  background-blend-mode: soft-light;
  min-height: max-content;
  padding-top: 5.375rem;
  padding-bottom: 2.875rem;
}

.mission-container-text {
  padding: 0 6.67% 0;
  max-width: 100%;
}

.mission-container > img {
  position: relative;
  max-width: 90%;
  border: 0.75rem solid #d4dede;
}

.mission-container-text > h2 {
  padding-bottom: 1.75rem;
}

.mission-container-text > p {
  font-family: "vulf sans regular";
  padding-bottom: 1em;
}

.vision-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  min-height: max-content;
  padding-bottom: 2.75rem;
}

.vision-container-text > .vision-container-text--split > img {
  /* position: relative; */
  max-width: 90%;
  margin-bottom: 1em;
  border: 0.75rem solid #b5bfbf;
  /* margin-right: 17rem; */
}

.vision-container-text {
  text-align: right;
}

.vision-container-text--split {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.vision-container-text > h2 {
  text-align: right;
  padding-right: 6.7%;
}

.vision-container-text > h3 {
  margin-bottom: 12px;
  font-family: "vulf mono bold italic";
}

.vision-container-text--split > p {
  font-family: "vulf sans regular";
  padding: 0 6.7% 0 2.2%;
}

.collapsibles-container {
  position: relative;
  padding: 1em 6.7% 0 6.7%;
}

.question {
  cursor: pointer;
  text-align: left;
}

.question-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "vulf mono bold italic";
}

.question-text > h3 {
  margin-bottom: 0.5rem;
}

.answer {
  background: #b5bfbf;
  max-height: 0;
  overflow: hidden;
  transition: all 0.25s cubic-bezier(0, 1, 0, 1);
}

.answer > p {
  padding: 1rem;
  font-family: "vulf sans regular";
}

.answer.open {
  background: #b5bfbf;
  height: auto;
  max-height: 9999px;
  transition: all 0.25s cubic-bezier(1, 0, 1, 0);
  margin-bottom: 0.5rem;
}

.dropdown-button {
  width: 1rem;
  border: none;
}

.board-title {
  padding-left: 17vw;
  transform: translateY(10rem);
}

.board-container {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    #ffffffcc 6.77%,
    #ffffffcc 93.23%,
    rgba(255, 255, 255, 0) 100%
  );
  background-blend-mode: soft-light;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: max-content;
  padding: 12rem 0 20rem;
}

.board-container > h2 {
  margin-bottom: 3.25rem;
}

.board-bio {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.board-bio-image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.board-bio-image-container > img {
  max-width: 90%;
  max-height: 50%;
  margin-bottom: 2.0625rem;
  border: 0.75rem solid #d4dede;
}

.board-bio-image-container > h3 {
  font-family: "vulf mono bold";
  padding: 0 1em 0;
  font-size: 2.25rem;
  margin-bottom: 1.25rem;
}

.board-bio-image-container > h4 {
  font-family: "vulf sans regular";
}

.board-bio-image-container > h3,
h4 {
  text-align: center;
}

.haiku-container {
  max-width: 100%;
}

.haiku {
  font-family: "vulf mono italic";
  text-align: center;
  font-size: 0.99rem;
  margin: 15% 0;
  /* padding: 0 1em 0; */
}

.haiku-more {
  color: #d4dede;
  font-family: "vulf sans regular";
  text-align: center;
  display: none;
}

footer {
  background: linear-gradient(0deg, #d4dede 55.8%, rgba(255, 255, 255, 0) 100%);
}

@media (min-width: 50em) {
  h2 {
    font-size: 3rem;
  }
  .vision-container {
    flex-direction: row;
  }
  .vision-container > * {
    flex-basis: 100%;
  }
  .vision-container > * + * {
    margin-left: 10em;
  }
  .vision-container-text > .vision-container-text--split {
    flex-direction: row;
    align-items: flex-start;
  }
  .vision-container-text > .vision-container-text--split > * {
    flex-basis: 44%;
  }
  .vision-container-text > .vision-container-text--split > img {
    position: relative;
    left: 5.5%;
    width: 39%;
  }
  .mission-container {
    flex-direction: row;
  }
  .mission-container > * {
    flex-basis: 100%;
  }
  .mission-container > img {
    right: 6.67%;
    width: 42%;
  }
  .mission-container-text {
    padding: 0 11.4% 0 12%;
  }
  .collapsibles-container {
    position: relative;
    left: 50%;
    width: 50%;
    padding: 1em 6.7% 0 6.7%;
  }
  .board-container {
    padding-left: 15%;
  }
  .board-bio {
    margin-bottom: 0;
  }
  .board-container > .board-bio {
    flex-direction: row;
  }
  .board-container > .board-bio > .board-bio-image-container > img {
    max-width: 100%;
    right: 6.67%;
    /* width: 42%; */
  }
  .board-bio-image-container {
    /* margin-top: 5.3rem; */
    max-width: 27vw;
  }
  .haiku-container {
    /* margin: 5.3rem 0 0 2rem; */
    margin: 0 0 0 2rem;
    width: 45vw;
  }
  .haiku {
    margin-bottom: 0;
  }
}

/* @media (min-width: 86em) {
  .haiku-container {
    padding-top: 18%;
  }
} */

@media (min-width: 63em) {
  .haiku {
    font-size: 1.25rem;
    /* padding-bottom: 5em; */
  }
}
