* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

@font-face {
  font-family: "vulf mono bold italic";
  src: url("../../fonts/mono/Vulf_Mono-Bold_Italic_web.ttf") format("truetype");
}

@font-face {
  font-family: "vulf mono black italic";
  src: url("../../fonts/mono/Vulf_Mono-Black_Italic_web.ttf") format("truetype");
}

@font-face {
  font-family: "vulf sans regular";
  src: url("../../fonts/sans/Vulf_Sans-Regular.ttf") format("truetype");
}

a {
  text-decoration: none;
}

.navbar {
  z-index: 3;
  position: sticky;
  top: 0;
  font-family: "vulf mono black italic";
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 7.5rem;
  background: linear-gradient(
    #ffffff 0%,
    #ffffff 85%,
    rgba(255, 255, 255, 0) 100%
  );

  font-size: 1.5rem;
  margin-bottom: -1rem;
}

.fake-navbar {
  z-index: 3;
  position: sticky;
  top: 0;
  font-family: "vulf mono black italic";
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 7.5rem;
  background: linear-gradient(
    #ffffff 0%,
    #ffffff 85%,
    rgba(255, 255, 255, 0) 100%
  );

  font-size: 1.5rem;
  margin-bottom: -1rem;
}

.hamburger-dropdown {
  padding: 0.5rem 2rem 0 6.67%;
}

.hamburger-dropdown > .dropdown > .label > button {
  background-color: transparent;
  border: none;
}

.hamburger-dropdown > .dropdown {
  display: block;
}

.navbar > a {
  text-decoration: none;
  color: #000000;
}

.fake-navbar > a {
  text-decoration: none;
  color: #000000;
}

.navbar-support {
  display: none;
}

.dropdown {
  cursor: pointer;
  display: none;
}

.label {
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  position: absolute;
  max-height: 0;
  overflow: hidden;
  transform: translateY(-0.3125rem);
  transition: transform 0.2s ease-out;
}

.content.open {
  position: absolute;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  height: auto;
  width: 40%;
  max-height: 9999px;
  text-align: center;
  transform: translateY(0.3125rem);
  transition: transform 0.2s ease-out;
  box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
}

.content.open > a {
  font-family: "vulf sans regular";
  color: #000000;
}

.content.open > a :hover {
  text-decoration: none;
}

.back-to-top-button {
  display: block;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: #ffffff;
  font-family: "vulf mono black italic";
  border: none;
  position: fixed;
  z-index: 3;
  -webkit-transform: translate3d(0, 0, 1px);
  transform: translate3d(0, 0, 1px);
  color: #000000;
  bottom: 2rem;
  right: 2rem;
}

.back-to-top-ring {
  display: block;
  position: fixed;
  z-index: 2;
  right: 1rem;
  bottom: 1rem;
  width: 6rem;
  height: 6rem;
  border: none;
}

.back-to-top-wrapper {
  position: fixed;
  z-index: 2;
  right: 1rem;
  bottom: 1rem;
  width: 6rem;
  height: 6rem;
  border: none;
  filter: drop-shadow(0 0.5rem 0.25rem rgba(0, 0, 0, 0.25));
}

footer {
  font-family: "vulf mono bold italic";
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  height: 100vh;
  margin-top: -48vh;
  padding: 15vh 0 18vh;
}

.footer-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 2rem;
}

.footer-links {
  border: solid;
  border-color: #ffffff;
  border-top-color: #1fe0;
  border-bottom-color: #1fe0;
  padding: 0 1.1875rem;
  display: none;
}

.footer-links > a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.56rem;
}

.footer-feverdream {
  font-family: "vulf mono black italic";
  font-size: 2.1875rem;
  margin-bottom: 1.25rem;
  color: #ffffff;
}

.contact-us {
  text-decoration: none;
  border: 3.64666px solid #ffffff;
  color: #ffffff;
  text-align: center;
  line-height: 2.5rem;
  width: 13.875rem;
  font-size: 1.5625rem;
}

.footer-socials {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  padding-left: 0;
}

.footer-socials-icon {
  width: 2.1875rem;
}

.footer-socials > a > img {
  border: none;
}

@media (min-width: 50em) {
  .navbar {
    justify-content: space-evenly;
  }
  .navbar > .dropdown {
    display: block;
  }
  .navbar > a > .navbar-support {
    display: block;
  }
  .navbar > .hamburger-dropdown {
    display: none;
  }
  .fake-navbar {
    justify-content: space-evenly;
  }
  .fake-navbar > .dropdown {
    display: block;
  }
  .fake-navbar > a > .navbar-support {
    display: block;
  }
  .fake-navbar > .hamburger-dropdown {
    display: none;
  }
  .content.open {
    width: 15%;
  }
  footer {
    flex-direction: row;
    height: 55vh;
  }
  .footer-contact {
    padding-right: 1rem;
    padding-bottom: 0;
  }
  .footer-socials {
    padding-left: 3.25rem;
  }
  .footer-links {
    display: block;
  }
}
