* {
  box-sizing: border-box;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "vulf mono bold italic";
  src: url("../../fonts/mono/Vulf_Mono-Bold_Italic_web.ttf") format("truetype");
}

@font-face {
  font-family: "vulf mono black italic";
  src: url("../../fonts/mono/Vulf_Mono-Black_Italic_web.ttf") format("truetype");
}

@font-face {
  font-family: "vulf mono italic";
  src: url("../../fonts/mono/Vulf_Mono-Italic_web.ttf") format("truetype");
}

a {
  text-decoration: none;
}

.navbar {
  z-index: 3;
  position: sticky;
  top: 0;
  font-family: "vulf mono black italic";
  display: flex;
  align-items: center;
  padding: 30px 10px;
  justify-content: space-evenly;
  height: 120px;
  background: #ffffff;
  font-size: 24px;
}

.navbar > a {
  text-decoration: none;
  color: #000000;
}

.dropdown {
  cursor: pointer;
}

.label {
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  position: absolute;
  max-height: 0;
  overflow: hidden;
  transform: translateY(-5px);
  transition: transform 0.2s ease-out;
}

.content.open {
  position: absolute;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  height: auto;
  width: 255px;
  max-height: 9999px;
  transform: translateY(5px);
  transition: transform 0.2s ease-out;
}

.content.open > a {
  font-family: "vulf mono bold italic";
  color: #000000;
}

footer {
  font-family: "vulf mono bold italic";
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  height: 70vh;
  padding-top: 29vh;
}

.footer-contact {
  padding-right: 2vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-links {
  border: solid;
  border-color: #ffffff;
  border-top-color: #1fe0;
  border-bottom-color: #1fe0;
  padding: 0 19px;
}

.footer-links > a {
  color: #ffffff;
  text-decoration: none;
  font-size: 25px;
}

.footer-feverdream {
  font-family: "vulf mono black italic";
  font-size: 35px;
  margin-bottom: 20px;
  color: #ffffff;
}

.contact-us {
  text-decoration: none;
  border: 3.64666px solid #ffffff;
  color: #ffffff;
  text-align: center;
  line-height: 40px;
  width: 222px;
  font-size: 25px;
}

.footer-socials {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
  padding-left: 52px;
}
.footer-socials-icon {
  width: 35px;
}
