* {
  box-sizing: border-box;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "vulf mono bold italic";
  src: url("../../fonts/mono/Vulf_Mono-Bold_Italic_web.ttf") format("truetype");
}

@font-face {
  font-family: "vulf mono black italic";
  src: url("../../fonts/mono/Vulf_Mono-Black_Italic_web.ttf") format("truetype");
}

a {
  text-decoration: none;
}

.navbar {
  font-family: "vulf mono black italic";
  position: sticky;
  display: flex;
  align-items: center;
  padding: 30px 10px;
  justify-content: space-evenly;
  height: 120px;
  background: #ffffff;
  font-size: 24px;
}

.navbar > a {
  text-decoration: none;
  color: #000000;
}

.dropdown {
  position: relative;
}

.dropdown > a {
  color: #000000;
}

.dropdown-menu {
  position: absolute;
  left: 0;
  top: calc(100% + 0.25rem);
  background-color: #ffffff;
  padding: 0.75rem;
  border-radius: 0.25rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transform: translateY(-10px);
  transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}

.dropdown > a:focus + .dropdown-menu {
  opacity: 1;
  transform: translateY(0px);
  pointer-events: auto;
}

footer {
  font-family: "vulf mono bold italic";
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  height: 70vh;
  padding-top: 29vh;
}

.footer-contact {
  padding-right: 2vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-links {
  border: solid;
  border-color: #ffffff;
  border-top-color: #1fe0;
  border-bottom-color: #1fe0;
  padding: 0 19px;
}

.footer-links > a {
  color: #ffffff;
  text-decoration: none;
  font-size: 25px;
}

.footer-feverdream {
  font-family: "vulf mono black italic";
  font-size: 35px;
  margin-bottom: 20px;
  color: #ffffff;
}

.contact-us {
  text-decoration: none;
  border: 3.64666px solid #ffffff;
  color: #ffffff;
  text-align: center;
  line-height: 40px;
  width: 222px;
  font-size: 25px;
}

.footer-socials {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
  padding-left: 52px;
}
.footer-socials-icon {
  width: 35px;
}
