@font-face {
  font-family: "vulf mono bold italic";
  src: url("../../fonts/mono/Vulf_Mono-Bold_Italic_web.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "vulf sans bold italic";
  src: url("../../fonts/sans/Vulf_Sans-Bold_Italic.ttf") format("truetype");
}

@font-face {
  font-family: "vulf mono italic";
  src: url("../../fonts/mono/Vulf_Mono-Italic_web.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "vulf mono bold";
  src: url("../../fonts/mono/Vulf_Mono-Bold_web.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "vulf sans regular";
  src: url("../../fonts/sans/Vulf_Sans-Regular.ttf") format("truetype");
  font-display: swap;
}

* {
  margin: 0px;
}

main {
  background-image: url("../../backgrounds/seamless_green.png");
}

.navbar-residency {
  color: #aec48e;
}

h2 {
  font-size: 48px;
  margin-top: 44px;
  margin-bottom: 22px;
  font-family: "vulf mono bold italic";
}

h4 {
  font-size: 24px;
}

p,
span {
  font-family: "vulf sans regular";
  font-size: 24px;
  line-height: 30px;
}

li {
  font-family: "vulf sans regular";
  font-size: 20px;
}

img {
  width: 38vw;
  border: 1rem solid #d4dede;
}

.goal-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: right;
  background-blend-mode: soft-light;
  min-height: max-content;
  padding-top: 138px;
  padding-bottom: 100px;
  background: linear-gradient(180deg, white, rgba(255, 255, 255, 0) 15%);
  /* background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    #ffffffcc 6.77%,
    #ffffffcc 93.23%,
    rgba(255, 255, 255, 0) 100%
  ); */
  background-blend-mode: soft-light;
}

.goal-container > img {
  position: relative;
  width: 506px;
}

.goal-container-text {
  width: 25vw;
}

.about-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    #ffffffcc 17.71%,
    #ffffffcc 80.73%,
    rgba(255, 255, 255, 0) 100%
  );
  background-blend-mode: soft-light;
  min-height: max-content;
  padding-bottom: 44px;
  padding-top: 166px;
}

.about-container > img {
  margin-top: 85px;
  width: 464px;
}

.about-container-text {
  font-size: 24px;
  width: 40vw;
}

.about-container-text > p {
  padding-bottom: 25px;
}

.about-container-text > ul {
  padding-bottom: 25px;
}

.facilities-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  min-height: max-content;
  padding-left: 66px;
  padding-right: 190px;
}

.facilities-container > img {
  margin-top: 85px;
  width: 518px;
}

.facilities-container-text {
  font-size: 24px;
  text-align: right;
  width: 40vw;
  line-height: 55px;
}

.residents-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    #ffffffcc 17.71%,
    #ffffffcc 80.73%,
    rgba(255, 255, 255, 0) 100%
  );
  background-blend-mode: soft-light;
  min-height: max-content;
  padding-left: 66px;
  padding-right: 190px;
  padding-bottom: 225px;
  padding-top: 143px;
}

.residents-container > img {
  margin-top: 85px;
  width: 630px;
}

.residents-container-text {
  font-size: 24px;
  text-align: right;
  width: 40vw;
}

.residents-container-text-lower {
  padding-top: 100px;
}

.residents-here-button {
  font-family: "vulf sans bold italic";
}

.faq-container {
  padding-left: 139px;
  padding-bottom: 179px;
}

.faq-container-text {
}

.triangle {
  width: 0;
  height: 0;
  border: solid 30px;
  border-color: transparent transparent black transparent;
}

.apply-button {
  text-align: center;
  position: absolute;
  font-size: 48px;
  font-family: "vulf mono bold italic";
  width: 100vw;
  transform: translate(0px, 120%);
  background-color: transparent;
  border: none;
}

.bg {
  background: linear-gradient(
    rgba(255, 255, 255, 0) 0%,
    #ffffffcc 15%,
    #aec48e 100%
  );
  background-blend-mode: soft-light;
  padding-top: 175px;
}

footer {
  height: 100vh;
  padding-top: 60vh;
}

.footer-socials > a > img {
  border: none;
}
