@font-face {
  font-family: "vulf mono bold italic";
  src: url("../../fonts/mono/Vulf_Mono-Bold_Italic_web.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "vulf sans bold italic";
  src: url("../../fonts/sans/Vulf_Sans-Bold_Italic.ttf") format("truetype");
}

@font-face {
  font-family: "vulf sans regular";
  src: url("../../fonts/sans/Vulf_Sans-Regular.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "vulf sans medium";
  src: url("../../fonts/sans/Vulf_Sans-Medium.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "vulf sans italic";
  src: url("../../fonts/sans/Vulf_Sans-Italic.ttf") format("truetype");
  font-display: swap;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

* {
  margin: 0px;
}

main {
  background-image: url("../../backgrounds/seamless_green.png");
  margin-inline: auto;
}

img {
  display: block;
}

li {
  padding: 0.25em;
}

.container {
  margin-inline: auto;
  /* width: min(100%, 150rem); */
}

.label :hover {
  text-decoration: underline #aec48e;
}

.navbar > a :hover {
  text-decoration: underline #aec48e;
}

.navbar-residency,
.hamburger-dropdown > .dropdown > .label > button {
  color: #aec48e;
}

/* .content.open {
  background: #aec48e;
} */

.content.open > a:hover {
  color: #aec48e;
}

.content.open > a {
  font-family: "vulf sans regular";
  color: #ffffff;
  padding-bottom: 0.25rem;
}

h2 {
  font-size: 2rem;
  margin-top: 2.75rem;
  margin-bottom: 1rem;
  font-family: "vulf mono bold italic";
}

h4 {
  font-size: 1.5rem;
}

p,
span {
  font-family: "vulf sans regular";
  font-size: 1.5rem;
  line-height: 1.875rem;
}

li {
  font-family: "vulf sans regular";
  font-size: 1.25rem;
}

img {
  border: 0.75rem solid #aec48e;
}

.goal-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: right;
  background-blend-mode: soft-light;
  min-height: max-content;
  padding-top: 2.5rem;
  padding-bottom: 3rem;
  background: linear-gradient(180deg, white, rgba(255, 255, 255, 0) 15%);
  background-blend-mode: soft-light;
}

.goal-container > img {
  position: relative;
  max-width: 90%;
}

.goal-container-text {
  max-width: 100%;
}

.border {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  height: 1.5rem;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0) 0%,
    #aec48e 25%,
    #aec48e 75%,
    rgba(0, 0, 0, 0) 100%
  );
}

.border::before {
  content: "feverdreamfeverdreamfeverdream";
  font-family: "vulf mono bold italic";
  /* position: absolute; */
  color: #ffffff;
  opacity: 50%;
  font-size: 1rem;
}

.faq-border {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  height: 1.5rem;
  background: #aec48e;
}

.faq-border::before {
  content: "feverdreamfeverdreamfeverdream";
  font-family: "vulf mono bold italic";
  /* position: absolute; */
  color: #ffffff;
  opacity: 50%;
  font-size: 1rem;
}

.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    #ffffffcc 10%,
    #ffffffcc 95%,
    rgba(255, 255, 255, 0) 100%
  );
  background-blend-mode: soft-light;
  padding: 1rem 0 3rem;
}

.about-container > img {
  max-width: 90%;
}

.about-container-text {
  height: 100%;
  width: 100%;
  font-size: 1.5rem;
  padding: 0 6.7% 2rem;
}

.about-container-text > a {
  color: #000000;
  font-family: "vulf sans regular";
  /* line-height: 2em; */
}

.about-container-text > p {
  padding-bottom: 1.563rem;
}

.about-container-text > ul {
  padding-bottom: 1.563rem;
}

.facilities-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  min-height: max-content;
  padding: 3rem 0;
  /* padding-left: 4.125rem;
  padding-right: 11.875rem; */
}

.facilities-container > img {
  /* margin-top: 5.3125rem; */
  max-width: 90%;
}

.facilities-container-text {
  font-size: 1.5rem;
  text-align: right;
  padding: 0 6.67% 0;
  line-height: 3.4375rem;
}

.residents-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    #ffffffcc 17.71%,
    #ffffffcc 100%
  );
  /* background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    #ffffffcc 17.71%,
    #ffffffcc 80.73%,
    rgba(255, 255, 255, 0) 100%
  ); */
  background-blend-mode: soft-light;
  min-height: max-content;
  /* padding-left: 4.125rem;
  padding-right: 11.875rem; */
  padding-bottom: 9rem;
}

.residents-container > img {
  margin-top: 4rem;
  max-width: 90%;
}

.residents-container-text {
  font-size: 1.5rem;
  text-align: center;
  /* width: 40vw; */
}

.resident-link {
  text-decoration: none;
  color: #aec48e;
  font-family: "vulf sans medium";
}

.residents-container-text-lower {
  padding-top: 6.25rem;
}

.residents-here-button {
  font-family: "vulf sans bold italic";
  text-decoration: none;
  color: #aec48e;
}

.faq-container {
  padding-bottom: 5rem;
  padding-top: 4rem;
  background: #000000;
}

.faq-container-text {
  padding: 0 6.67% 0%;
  color: #ffffff;
}

.question {
  cursor: pointer;
  padding-bottom: 1.25rem;
}

.question-text {
  display: flex;
  align-items: center;
}

.answer {
  background: #aec48e;
  max-height: 0;
  margin-top: 1rem;
  overflow: hidden;
  animation: fadeOut ease-out 1s;
  transition: all 0.25s cubic-bezier(0, 1, 0, 1);
}

.answer > p {
  color: #000000;
  padding: 1rem;
}

.answer.open {
  background: #aec48e;
  height: auto;
  margin-top: 1rem;
  max-height: 9999px;
  animation: fadeIn ease-out 1s;
  transition: all 0.25s cubic-bezier(1, 0, 1, 0);
}

.answer.open > ul {
  padding: 1em 1.5em;
}

.faq-here-link {
  text-decoration: underline;
  color: #000000;
}

.curtain {
  cursor: pointer;
  padding-bottom: 1.25rem;
  transition: all 0.25s cubic-bezier(1, 0, 1, 0);
  /* position: absolute; */
}

.curtain-text {
  display: flex;
  align-items: center;
  /* position: absolute; */
}

.curtain-text > p:hover {
  color: #aec48e;
}

.curtain-content {
  /* background: #aec48e; */
  /* height: 0; */
  /* max-height: 0; */
  /* position: relative; */
  display: none;
  overflow: hidden;
  animation: fadeOut ease-out 1s;
  /* animation-duration: 0.5s;
  animation-fill-mode: backwards; */
  /* transition: all 0.25s cubic-bezier(0, 1, 0, 1); */
  /* transition: display 0.2s ease-out; */
}

.curtain-content > p {
  font-family: "vulf sans italic";
  font-size: 1.5rem;
  line-height: 1.875rem;
  padding-bottom: 1rem;
}

.curtain-content.open {
  display: block;
  /* max-width: 45%; */
  /* background: #aec48e; */
  /* height: auto; */
  max-height: 9999px;
  animation: fadeIn ease-out 2s;
  animation-duration: 0.5s;
  /* animation-fill-mode: backwards; */
  transition: transform 0.2s ease-out;
}

.curtain-content.open:hover {
  text-decoration: #aec48e 0.2rem underline;
}

.curtain-content.open > ul {
  padding: 1em 1.5em;
}

.dropdown-button {
  width: 1.875rem;
  border: none;
  padding-left: 1rem;
  filter: hue-rotate(50deg);
}

/* .apply-button {
  text-align: center;
  position: absolute;
  font-size: 3rem;
  font-family: "vulf mono bold italic";
  width: 100vw;
  transform: translateY(300%);
  background-color: transparent;
  border: none;
} */

/* .bg {
  background: linear-gradient(
    rgba(255, 255, 255, 0) 0%,
    #fffffc 22%,
    #aec48e 100%
  );
  background-blend-mode: soft-light;
  height: 62.5rem;
} */

footer {
  /* background: #d2dec0; */
  margin-top: 0;
  background: #aec48e;
}

@media (min-width: 50em) {
  h2 {
    font-size: 3rem;
  }
  .goal-container {
    flex-direction: row;
  }
  .goal-container > * {
    flex-basis: 100%;
  }
  .goal-container > img {
    left: 12%;
    max-width: 35%;
  }
  .goal-container-text {
    padding: 0 11.4% 0 12%;
  }
  .about-container {
    flex-direction: row;
    padding: 2rem 0;
  }
  .about-container > * {
    flex-basis: 100%;
  }
  .about-container > img {
    /* margin-top: 5.313rem; */
    margin-right: 4%;
    max-width: 33%;
  }
  .about-container-text {
    padding: 0 5% 0 12.6%;
  }
  .curtain-content.open {
    max-width: 80%;
  }
  .facilities-container {
    flex-direction: row;
  }
  .facilities-container > * {
    flex-basis: 100%;
  }
  .facilities-container > img {
    margin-left: 7%;
    max-width: 36%;
  }
  .facilities-container-text {
    padding: 0 11% 0 8%;
  }
  .residents-container {
    flex-direction: row;
  }
  .residents-container > * {
    flex-basis: 100%;
  }
  .residents-container > img {
    margin-left: 7%;
    max-width: 35%;
  }
  .residents-container-text {
    padding: 0 11% 0 8%;
    text-align: right;
  }
  .faq-container {
    flex-direction: row;
  }
  .faq-container-text {
    padding: 0 11% 0 8%;
  }
  .border::before {
    content: "feverdreamfeverdreamfeverdreamfeverdreamfeverdreamfeverdreamfeverdreamfeverdreamfeverdreamfeverdreamfeverdreamfeverdreamfeverdreamfeverdreamfeverdream";
    font-family: "vulf mono bold italic";
    /* position: absolute; */
    color: #ffffff;
    opacity: 50%;
    font-size: 1rem;
  }
  .faq-border::before {
    content: "feverdreamfeverdreamfeverdreamfeverdreamfeverdreamfeverdreamfeverdreamfeverdreamfeverdreamfeverdreamfeverdreamfeverdreamfeverdreamfeverdreamfeverdream";
    font-family: "vulf mono bold italic";
    /* position: absolute; */
    color: #ffffff;
    opacity: 50%;
    font-size: 1rem;
  }
}
