@font-face {
  font-family: "vulf mono bold italic";
  src: url("../../fonts/mono/Vulf_Mono-Bold_Italic_web.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "vulf sans medium";
  src: url("../../fonts/sans/Vulf_Sans-Medium.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "vulf mono bold";
  src: url("../../fonts/mono/Vulf_Mono-Bold_web.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "vulf sans regular";
  src: url("../../fonts/sans/Vulf_Sans-Regular.ttf") format("truetype");
  font-display: swap;
}

* {
  margin: 0px;
}

main {
  background-image: url("../../backgrounds/seamless_pink.png");
  font-size: 24px;
}

img {
  border: 1rem solid #fbe0dd;
}

.navbar-support {
  color: #e6bcb8;
}

.bg {
  background: linear-gradient(
    180deg,
    #ffffff 0%,
    #ffffffcc 17.71%,
    #ffffffcc 80.73%,
    rgba(255, 255, 255, 0) 100%
  );
  background-blend-mode: soft-light;
}

.navbar {
  background: linear-gradient(
    180deg,
    #fff 0%,
    #fffc 0.71%,
    #fffc 80.73%,
    rgba(255, 255, 255, 0) 100%
  );
}

h2 {
  font-family: "vulf mono bold italic";
  font-size: 48px;
}

.contact-container {
  display: flex;
  justify-content: space-evenly;
  padding-top: 134px;
  font-family: "vulf sans regular";
}

.contact-container-text {
  left: 0;
  padding-right: 13vw;
  width: 30vw;
}

.contact-form {
  padding-top: 15px;
}

.email {
  color: #e6bcb8;
  font-family: "vulf sans medium";
}

.asterisk {
  color: #e6bcb8;
}

input {
  border: 4px solid #e6bcb8;
  margin-top: 15px;
  margin-bottom: 10px;
  width: 425px;
  height: 51px;
  font-size: 100%;
}

.contact-img-container {
  display: flex;
  flex-direction: column;
  /* right: 190px; */
  /* display: grid;
  grid-template-columns: 1fr;
  gap: 1em; */
}

.contact-img-container > img {
  margin-bottom: 30px;
  width: 488px;
}

footer {
  background: linear-gradient(0deg, #fbe0dd 55.8%, rgba(255, 255, 255, 0) 100%);
}

.footer-socials > a > img {
  border: none;
}
