---
import "../styles/layout.css";
import "../styles/about.css";

import Navbar from "../components/Navbar.jsx";
import About from "../components/About.jsx";
import Footer from "../components/Footer.jsx";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
	</head>
	<body>
		<main>
			<Navbar />
			<About />
			<Footer />
		</main>
	</body>
</html>
