---
import "../styles/layout.css";
import "../styles/dreamJournal.css";

import Navbar from "../components/Navbar.jsx";
import DreamJournal from "../components/DreamJournal.jsx";
import Footer from "../components/Footer.jsx";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<title>dream journal</title>
	</head>
	<body>
		<main>
			<nav class="bg">
				<Navbar />
				<DreamJournal />
				<Footer />
			</nav>
		</main>
	</body>
</html>
