---
import "../styles/layout.css";
import "../styles/about.css";

import About from "../components/About.jsx";
import Navbar from "../components/Navbar.jsx";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
	</head>
	<body>
		<main>
			<Navbar />
			<About />
			<nav class="about-section">
				<!-- <div> -->
				<h1>Section 1</h1>
				<!-- </div> -->
				<p>
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae eos
					soluta, quod, optio ipsa quos laborum pariatur autem eligendi
					repellendus sint minima non! Officiis necessitatibus voluptate impedit
					quisquam qui dolorum.
				</p>
				<div>
					<img class="section-img" src="src/images/image-placeholder.png" alt=""
					/>
				</div>
			</nav>
			<nav class="about-section">
				<div>
					<h1>Section 2</h1>
				</div>
				<p>
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus
					corporis officia voluptates dicta veniam minus nesciunt perspiciatis
					earum illum nulla eum vitae, aliquam inventore provident placeat
					maiores suscipit. Consequuntur, tenetur.
				</p>
			</nav>
			<nav class="about-section">
				<div>
					<h1>Section 3</h1>
				</div>
				<p>
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus
					corporis officia voluptates dicta veniam minus nesciunt perspiciatis
					earum illum nulla eum vitae, aliquam inventore provident placeat
					maiores suscipit. Consequuntur, tenetur.
				</p>
			</nav>
		</main>
	</body>
</html>
