---
import "../styles/layout.css";
import "../styles/landing.css";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
	</head>
	<body>
		<main>
			<!-- <App client:load /> -->
			<a href="/about">
				<h1 class="enter-button">enter</h1>
			</a>
		</main>
	</body>
</html>
