---
import "../styles/layout.css";
import "../styles/landing.css";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
	</head>
	<body>
		<main>
			<!-- <App client:load /> -->
			<section class="showcase">
				<!-- <video
					src="https://www.youtube.com/watch?v=w9pCFJ05_j4"
					muted
					loop
					autoplay></video> -->
			</section>

			<a href="/about">
				<h1 class="enter-button">enter</h1>
			</a>
		</main>
	</body>
</html>
