---
import "../styles/layout.css";
import "../styles/residency.css";

import NavbarDrop from "../components/NavbarDrop.jsx";
import BacktoTop from "../components/BacktoTop";
import Residency from "../components/Residency.jsx";
import Footer from "../components/Footer.jsx";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
  </head>

  <body>
    <main>
      <NavbarDrop client:load />
      <!-- <BacktoTop page="residency" client:visible /> -->
      <Residency client:visible />
      <!-- <nav class="bg"> -->
      <Footer />
      <!-- </nav> -->
    </main>
  </body>
</html>
