---
import "../styles/layout.css";
import "../styles/about.css";

import Navbar from "../components/Navbar.jsx";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
	</head>
	<body>
		<main>
			<Navbar />
			<nav>
			<p>To provide space, time, and funds to support the imagination and creativity of emerging artists. </p>
			<ul>
				<h4>Residency Benefits</h4>
				<li>
				2 Months dedicated to your art practice, creating a body of work you will keep.	
				</li>
				<li>
				A platform to showcase your work
				</li>
				<li>
				A $3000 stipend	
				</li>
				<li>
				An $800 supply stipend	
				</li>
				<li>
				Admission into a network of artists and creatives in Cleveland	
				</li>
			</ul>
			<ul>
				<h4>Resident Responsibilities</h4>
				<li>Create a self-directed body of work for The Shoreway	</li>
				<li>Cooperate with Fever Dream marketing efforts	</li>
				<li>Donate a one-off tiger related artwork	</li>
			</ul>
			<ul>
				<h4>Eligibility</h4>
				<li>You must be 21 years old or older	</li>
				<li>We strongly encourage applicants have an undergraduate BFA degree, although not required	</li>
				<li>You must be an emerging artist (defined as an aspiring professional artist early into their career). 	</li>
				<li>No artist collective groups	</li>
				<li>You must have the ability to commute to the studio	</li>
			</ul>
			<p>Fever Dream offers a x sq. ft studio space dedicated to be used by the resident. The studio space is equipped with the following: [pertinent studio equipment]. It also utilizes an exhibition space in the lobby of The Shoreway with x ft of wall space to exhibit the work done during the residency. </p>
			<p>
			<form action=""></form></p>
			<p>
			Fever Dream is proud to present [name] as its current resident. </p>
			</nav>
		</main>
	</body>
</html>
