---
import "../styles/layout.css";
import "../styles/home.css";

import Navbar from "../components/Navbar.jsx";
import About from "../pages/about.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
  </head>

  <body>
    <Navbar client:load />
    <nav class="enter-button-container">
      <a href="/about">
        <h1 class="enter-button">(feverdream)</h1>
      </a>
    </nav>

    <section class="showcase">
      <video
        muted
        loop
        autoplay
        playsinline
        poster="../images/feverdream-loadingframe.png"
      >
        <source src="../videos/finalfever1080.webm" type="video/webm" />
        <source src="../videos/finalfever1080.mp4" type="video/mp4" />
      </video>
    </section>
    <!-- <About /> -->
  </body>
</html>
